In [13]:
import pypyodbc as pyodbc
import pandas as pd

In [14]:
DRIVER = 'SQL Server'
SERVER = '10.20.10.112'
DATABASE = 'STGBraumat'
UID = 'ERP.BI'
PASS = '+21o=VBLBC@'

In [15]:
conn = pyodbc.connect(f'DRIVER={DRIVER};Server={SERVER};Database={DATABASE};uid={UID};pwd={PASS};')

In [16]:
sql = "SELECT * FROM sistar_rt_tag_pushed_compression_2023"

In [17]:
%time df = pd.read_sql(sql, conn)
conn.close()

<timed exec>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

CPU times: total: 2min 26s
Wall time: 4min

In [18]:
df

           tag_id                      event_time    value  status
0         1037050  2023-01-01 05:45:00.000 +00:00  1139.79       1
1         1037250  2023-01-01 05:45:00.000 +00:00   233.90       1
2         1037350  2023-01-01 05:45:00.000 +00:00   232.91       1
3         1037450  2023-01-01 05:45:00.000 +00:00   231.72       1
4         1037550  2023-01-01 05:45:00.000 +00:00    31.49       1
...           ...                             ...      ...     ...
29533809  1037550  2023-10-17 02:21:00.000 +00:00    96.62       1
29533810  1037550  2023-10-17 02:22:00.000 +00:00    92.19       1
29533811  1037550  2023-10-17 02:23:00.000 +00:00    90.07       1
29533812  1037550  2023-10-17 02:24:00.000 +00:00    89.49       1
29533813  1037550  2023-10-17 02:25:00.000 +00:00    90.26       1

[29533814 rows x 4 columns]

In [19]:
print('writing Parquet')
%time df.to_parquet('test.parquet')

writing Parquet
CPU times: total: 5.72 s
Wall time: 5.74 s

In [20]:
print('Reading Parquet')
%time df_parquet = pd.read_parquet('test.parquet')

Reading Parquet
CPU times: total: 3.47 s
Wall time: 1.88 s

In [10]:
df_parquet

          tag_id                      event_time    value  status
0        1036850  2024-01-20 01:34:00.000 +00:00   540.20       1
1        1036950  2024-01-20 01:34:00.000 +00:00   737.88       1
2        1037050  2024-01-20 01:34:00.000 +00:00  1135.98       1
3        1037250  2024-01-20 01:34:00.000 +00:00   233.47       1
4        1037350  2024-01-20 01:34:00.000 +00:00   232.37       1
...          ...                             ...      ...     ...
3869853  1086450  2024-01-01 09:31:00.000 +00:00  2979.10       1
3869854  1086750  2024-01-01 09:31:00.000 +00:00  5599.80       1
3869855  1086850  2024-01-01 09:31:00.000 +00:00     3.80       1
3869856  1086950  2024-01-01 09:31:00.000 +00:00  5705.80       1
3869857  1087050  2024-01-01 09:31:00.000 +00:00  5750.00       1

[3869858 rows x 4 columns]